<html ng-app="DOECaptainsApp">
  <head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<meta name='description' content='Lexington National Science Science Bowl Team Data Tracker'>
	<meta name='author' content='Clive Chan (http://clive.io)'>
	<title>DOE Captains Tracker</title>
	
	<!--Here is an editable display of all the questions that have been read so far. Who(s) buzzed, what they(s) did, bonus, etc. -->
	<!--Though we love the new input system, you will always be able to enter data this way too. 
	THE NEW INPUT SYSTEM SHOULD JUST BE A LAYER OVER THIS DROPDOWN-BOX SYSTEM.
		Team switching
		Team-member mode, where you can't edit anything outside of the current round - just implement some sort of round-locking mechanism
		test all features :/
		test syncing for multiple editors, but shouldn't have to do that. Please. Ever. Implement locking?
	-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
    <script src="app.js"></script>
    <style>
      .teamname{font-size: 1.3em; font-weight: bold; margin-top: 1em;}
      .playerpos{font-weight: bold; display: inline;}
    </style>
  </head>
  <body ng-controller="DOECaptainsController as dq">
	<noscript><b style="color:red;font-weight:bold;">Your javascript is off. You kinda need a lot of javascript for this.</b></noscript>
	<h1 style="margin:0;">Lexington DOE Tracker</h1>
	<label>hi log in pls<input type="password"></label>
	
	<div>
		<div style="font-weight:bold; display:inline-block; position:fixed; top:2em; right: 2em; font-size:1.5em;"><span style="color:#f0f;background-color:#0f0;padding:0.5em;" ng-show="connected" class="ng-hide">synchronized</span><span style="color:#0ff;background-color:#f00;padding:0.5em;" ng-hide="connected">disconnected</span></div>
		<a ng-href="{{currFirebaseURL}}?print=pretty&format=export&download=doecaptains-backup.{{date}}.json">Download Backup</a>
		<div id="round">
		  <h2>Users</h2>
			
		  <h2>Round Select</h2>
		  <div>
			<select ng-model="roundID" 
			  ng-options="round.$id as round.name for round in availableRounds"
			  ng-change="loadRound()"></select>
			<button ng-click="newRound()">Create New Round</button>
		  </div>
		  <div ng-show="round !== undefined" class="ng-hide">
			<h2>Round Info</h2>
			<div><b>ID:</b> <span ng-bind="round.$id">LOADING . . . . .</span></div>
			<div><b>Round Name:</b> <input ng-model="round.name"/></div>
			<div><b>Date:</b> <input ng-model="round.date"/></div>
			<div><b>Which Round Read:</b> <input ng-model="round.round"></div>
			<div><b>Additional Details?</b> <br><textarea ng-model="round.details"></textarea></div>
			<div>
			  <h2>Teams</h2>
			  <div>
				<button ng-click="reset() && (round.teams = regularroundteams)">Set up Blank Regular Round</button>
				<button ng-click="reset() && (round.teams = speedroundteams)">Set up Blank Speed Round</button>
			  </div>
			  <div ng-repeat="team in round.teams track by $index">
				<input ng-model="team.name" class="teamname" />
				<div ng-repeat="(ind,player) in team.players track by $index">
				  <input ng-model="player.pos" class="playerpos" />:
				  <select ng-model="player.name" ng-options="memberdata.name as memberdata.name for memberdata in members"><option></option></select>
				  <button ng-click="team.players.splice(ind,1)">x</button>
				</div>
				<button ng-click="team.players.push(blankplayer())">+</button>
			  </div>
			</div>
			<br><button ng-click="round.teams.push(blankteam())">Add Team</button>
			<div><b>Additional notes on team members' performance?</b> <br><textarea ng-model="round.notes"></textarea></div>
			<div id="qhistorydisplay">
			  <h2>Questions</h2>
			  <div ng-repeat="(ind,question) in round.questions">
				TOSS-UP
				<select ng-model="question.subject"><option value="" selected>SUBJECT?</option><option>BIO</option><option>CHEM</option><option>PHYS</option><option>MATH</option><option>ESS</option></select>:
				<select ng-model="question.buzz1.who"><option value="" selected>BUZZ 1?</option><optgroup ng-repeat="team in round.teams" label="{{team.name}}"><option ng-repeat="player in team.players">{{player.name}}</option></optgroup></select>
				<select ng-model="question.buzz1.interrupt"><option value="" selected>INTERRUPT?</option><option>Interrupt</option><option>Regular</option></select>
				<select ng-model="question.buzz1.response"><option value="" selected>RESPONSE?</option><option>Correct</option><option>Incorrect</option><option>Blurt</option><option>Stall</option></select>
				<span ng-show="question.buzz1.response === 'Incorrect' || question.buzz1.response === 'Blurt' || question.buzz1.response === 'Stall'">
				  <select ng-model="question.buzz2.who"><option value="" selected>BUZZ 2?</option><optgroup ng-repeat="team in round.teams" label="{{team.name}}"><option ng-repeat="player in team.players">{{player.name}}</option></optgroup></select>
				  <select ng-model="question.buzz2.interrupt"><option value="" selected>INTERRUPT?</option><option>Interrupt</option><option>Regular</option></select>
				  <select ng-model="question.buzz2.response"><option value="" selected>RESPONSE?</option><option>Correct</option><option>Incorrect</option><option>Blurt</option><option>Stall</option></select>
				</span>
				<select ng-model="question.bonus" ng-show="question.buzz1.response==='Correct' || question.buzz2.response==='Correct'"><option value="" selected>BONUS?</option><option>Correct</option><option>Incorrect</option></select>
				<button ng-click="round.questions.splice(ind,1)">x</button>
			  </div>
			  <button ng-click="round.questions.push(blankquestion())">New Question</button>
			</div>
		  </div>
		</div>
		<div id="teamdisplay">
		</div>
	</div>
	
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script-->
<script>
/*
    //backspace goes back
    //5v5 for normal and freeforall mode for speed rounds (don't bother with the complex stuff)
    n1 vs n2 vs n3 vs n4 vs ... vs nm


    var keyBindings = {};
    function bindKeyToPlayer(key, player){
      keyBindings[key] = player;
    }
    $(window).keypress(function(e){
      if(e.which == 32);
      else if(e.which == 13);
      else{
        var ch = String.fromCharCode(e.which);
      }
    });

    function Player(){
      
    }
    function Team(name,players){
      this.name = name;
      this.points = 0;
      this.players = players;
      this.buzzingAllowed = true;
      this.reset = function(){
        this.buzzingAllowed = true;
        
      };
      this.buzz = function(key){
        for(var i = 0; i < players.length; i++)
          if(players[i].key == key)return i;
        return -1;
      };
    }

    var NormalGame = { //Point values and everything should be here
      "start": function(key){
        if(key=="space")return "tossup";
        else return false;
      },
      "tossup": function(key){
        //key will be a s d f j k l ;
      },
      "interrupting": function(key){
        for(var i = 0; i < teams.length; i++){
          var index = teams[i].buzz(key);
          if(index !== -1)
            1;
        }
      },
      "regular buzzing": function(key){
      
      },
    };

    //var buzzesAllowed
    //freeForAll?
    //var positions = ["Player 1","Captain","Player 2","Player 3","Player 4"];
    //var teams = ["gfdsa","hjkl;"]; //Standard 5v5 - indices correspond with var positions
    //var teams = ["a","s","d","f","g","h","j","k","l",";"];
    var maintable = $(".team");
    (function(){
      for(var t = 0; t < teams.length; t++){
        if(t%2 == 0){
          var row = document.createElement("tr");
          for(var i = teams[t].length - 1; i >= 0; i--){
            var player = document.createElement("td");
            player.innerHTML = "<b>"+teams[t][i]+"</b><br>"+positions[i];
            player.id = "t"+t+"p"+i;
            row.appendChild(player);
          }
          maintable.append(row);
        }
        else{
          var rows = maintable.find("tr");
          var row = rows[rows.length-1];
          var mid = document.createElement("td");
          mid.className="mid";
          row.appendChild(mid);
          for(var i = 0; i < teams[t].length; i++){
            var player = document.createElement("td");
            player.innerHTML = "<b>"+teams[t][i]+"</b><br>"+positions[i];
            player.id = "t"+t+"p"+i;
            row.appendChild(player);
          }
        }
      }
    })();
    window.onkeypress=function(e){
      if(!e)var e=window.event;
      if(e.keyCode == 32){//space resets
        buzzed = false;
        document.getElementsByClassName("buzzed")[0].className="";
      }
      console.log(e);
      if(buzzed === true){
        if(e.keyCode == 13){
          
        }
      }
      if(buzzed === false){
        for(var t = 0; t < teams.length; t++)
          for(var i = 0; i < teams[t].length; i++)
            if(e.keyCode == teams[t].charCodeAt(i)){
              console.log("Team "+(t+1)+", "+positions[i]);
              document.getElementById("t"+t+"p"+i).className = "buzzed";
              buzzed = true;
            }
      }
    }*/
    </script>
  </body>
</html>