<html ng-app="DOECaptainsApp">
  <head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<meta name='description' content='Lexington National Science Science Bowl Team Data Tracker'>
	<meta name='author' content='Clive Chan (http://clive.io)'>
	
	<title>DOE Captains Tracker</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
	<script src="sha3.js"></script>
	<script src="new.js"></script>
	<link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller="IndexLogin">
	<div class="center-wrap">
		<h1 style="margin:0;">Lexington DOE Tracker</h1>
		<h3 style="margin:0 0 1em 0;font-style:italic;">Captains only. Please do not share. It's only kinda secure.</h3>
		<noscript><b style="color:red;font-weight:bold;">Your javascript is off. You kinda need a lot of javascript for this.</b></noscript>
		<span ng-show="authed===null">Loading login status... {{authed}}</span> <!--the {{}} is required for the digest cycle to watch authed-->
		
		<div ng-show="authed===false">
			hai log in pls
			<input type="password" ng-model="pwd" ng-keypress="processLoginKeypress($event)">
			<input type="submit">
		</div>
		
		<nav ng-show="authed===true">
			<div><a href="" ng-click="logout()">Log out</a></div>
			<a class="linkbox" href="rounds.html">Rounds</a>
			<a class="linkbox" href="members.html">Members</a>
		</nav>
	</div>
  </body>
</html>