<html ng-app="DOECaptainsApp">
	<head>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<meta name='description' content='Lexington National Science Science Bowl Team Data Tracker'>
		<meta name='author' content='Clive Chan (http://clive.io)'>
		
		<title>DOE Captains Tracker -- Members</title>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
		<script src="new.js"></script>
		<script>
		app.controller("Members", function($scope, $firebaseArray){
			$scope.predicate = 'name';
			$scope.direction = true;
			$scope.members = $firebaseArray(new Firebase(currFirebaseURL+"/members"));
		});
		</script>
	</head>
	<body ng-controller="List">
		<table ng-controller="Members" class="list-table">
			<tr class="trh">
				<th><a href="" ng-click="order('name')" class="sortby" ng-class="{forward: predicate=='name' && direction, reverse: predicate=='name' && !direction}">Name</a></th>
				<th></th>
			</tr>
			<tr class="trh">
				<th><input ng-model="searchTerm" placeholder="filter..."></th>
				<th></th>
			</tr>
			<tr ng-repeat="member in members | orderBy:predicate:!direction" ng-show="strInStr(searchTerm,member.name)">
				<td><input id="{{member.$id}}_name" ng-model="member.name" ng-change="members.$save(member)"></td>
				<td><button ng-click="remove(members,member)" tabindex="-1">x</button></td>
			</tr>
			<tr>
				<td>
					<button ng-click="addNew(members)">+</button>
				</td>
				<td></td>
			</tr>
		</table>
		<br>
		<br>
		<br>
	</body>
</html>
