<html ng-app="DOECaptainsApp">
	<head>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<meta name='description' content='Lexington National Science Science Bowl Team Data Tracker'>
		<meta name='author' content='Clive Chan (http://clive.io)'>
		
		<title>DOE Captains Tracker -- Rounds</title>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
		<script src="new.js"></script>
		<link rel="stylesheet" href="style.css">
		<script>
		app.controller("Rounds", function($scope, $firebaseArray){
			$scope.predicate = 'date';
			$scope.direction = false;
			$scope.rounds = $firebaseArray(new Firebase(currFirebaseURL+"/rounds"));
			var d = new Date();
			var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
			$scope.blankRound = {name:"",date:d.getDate()+" "+monthNames[d.getMonth()]+" "+d.getFullYear()};
		});
		</script>
	</head>
	<body ng-controller="List">
		<table ng-controller="Rounds" class="list-table">
			<tr>
				<th><a href="" ng-click="order('name')" class="sortby" ng-class="{forward: predicate=='name' && direction, reverse: predicate=='name' && !direction}">Name</a></th>
				<th><a href="" ng-click="order('date')" class="sortby" ng-class="{forward: predicate=='date' && direction, reverse: predicate=='date' && !direction}">Date</a></th>
				<th></th>
			</tr>
			<tr>
				<th><input ng-model="searchTerm" placeholder="filter..."></th>
				<th></th>
			</tr>
			<tr ng-repeat="round in rounds | orderBy:predicate:!direction" ng-show="strInStr(searchTerm,round.name)">
				<td><input id="{{round.$id}}_name" ng-model="round.name" ng-change="rounds.$save(round)"></td>
				<td><input ng-model="round.date" ng-change="rounds.$save(round)"></td>
				<td><a href="roundview.html?id={{round.$id}}">View</a></td>
			</tr>
			<tr>
				<td>
					<button ng-click="addNew(rounds,blankRound)">+</button>
				</td>
				<td></td>
			</tr>
		</table>
		<br>
		<br>
		<br>
	</body>
</html>
