<html ng-app="DOECaptainsApp">
	<head>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<meta name='description' content='Lexington National Science Science Bowl Team Data Tracker'>
		<meta name='author' content='Clive Chan (http://clive.io)'>
		
		<title>DOE Captains Tracker -- Rounds</title>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
		<script src="new.js"></script>
		<link rel="stylesheet" href="style.css">
		<script>
		app.controller("Rounds", function($scope, $firebaseArray){
			$scope.$parent.init("/rounds", [
				{name:"name",width:"15em",display:"Name"},
				{name:"date",width:"8em",display:"Date YY-MM-DD"}
			], "date");
		});
		</script>
	</head>
	<body ng-controller="List">
		<center>
			<a href="members.html">Member List</a>
			<b>Round List</b>
		</center>
		<br>
		<table ng-controller="Rounds" class="list-table">
			<thead>
				<tr>
					<th></th>
					<th ng-repeat="field in fields">
						<a href="" ng-click="order(field.name,$scope)" class="sortby" ng-class="{forward: predicate==field.name && direction, reverse: predicate==field.name && !direction}">{{field.display}}</a>
					</th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<th><button class="oBtn" ng-click="search=blank">o</button></th>
					<th ng-repeat="field in fields">
						<input style="width:{{field.width}}" ng-model="search[field.name]" placeholder="filter or add...">
					</th>
					<th></th>
					<th><button class="pBtn" ng-click="addNew(data,search)">+</button></th>
				</tr>
			</thead>
			<tbody>
				<!--http://stackoverflow.com/a/18593018/1181387-->
				<tr ng-repeat="datum in data | orderBy:predicate:!direction" ng-show="memberInMember(search,datum)">
					<td><input type="checkbox" name="member_selection" value="{{datum.$id}}"></td>
					<td ng-repeat="field in fields">
						<input style="width:{{field.width}}" ng-model="datum[field.name]" ng-change="data.$save(datum)">
					</td>
					<td><a href="roundview.html?id={{datum.$id}}">View</a></td>
					<td><button class="xBtn" ng-click="remove(data,datum)" tabindex="-1">x</button></td>
				</tr>
			</tbody>
		</table>
		<br>
		<br>
		<br>
	</body>
</html>
