body{
	overflow-y: scroll;
}

.list-table{
	border-collapse: collapse;
	border: solid 1px #ddd;
	margin: 0 auto;
	text-align: left;
}
.list-table td, .list-table th{
	padding: 0.3em 0.5em;
}
/*https://stackoverflow.com/questions/13624276/html-how-to-separate-table-rows-with-a-line*/
.list-table thead th{
	border-bottom: solid 1px #000;
}
.list-table tbody td{
	border-bottom: solid 1px #ccc;
}
.list-table tbody tr:nth-child(odd){
	background-color: #eee;
}
.list-table .sortby:after{font-size: 0.6em;visibility:hidden;content: '\25bc';} /*visibility fanciness prevents width-shifting problem*/
.list-table .sortby.forward:after {content: '\25bc';visibility:visible;}
.list-table .sortby.reverse:after {content: '\25b2';visibility:visible;}
.list-table .xBtn, .list-table .pBtn, .list-table .oBtn{
	color:white;
	font-weight:bold;
	font-family: Helvetica, Verdana, Tahoma;
	border:0;
	font-size: 11px;
	padding: 0px 5px 2px 5px;
	width:16px; height: 16px; border-radius: 8px;
	vertical-align:bottom;
}
.list-table .xBtn{background-color:#f00;}
.list-table .pBtn{background-color:#0c0;padding-top:1px;}
.list-table .oBtn{background-color:#33f;}
.list-table .xBtn:disabled, .list-table .pBtn:disabled, .list-table .oBtn:disabled{background-color:#ccc;}
.list-table .xBtn:hover, .list-table .pBtn:hover, .list-table .oBtn:hover{
	cursor:pointer;
}
